.issues-container {
  display: flex;
  justify-content: space-between;
}

.issue-section {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 20px;
  width: 24%;
  min-height: 300px;
  border-radius: 8px;
}

.issue-section h2 {
  margin-top: 0;
  color: #333333;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.issue-section input[type="text"] {
  width: calc(100% - 40px); /* Adjusted width to accommodate the button */
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px 0 0 4px; /* Rounded left corners */
  background-color: #f8f9fa;
  color: #333333;
}

.issue-section button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0; /* Rounded right corners */
  cursor: pointer;
}

.issue-section button:hover {
  background-color: #0056b3;
}

.items {
  margin-top: 10px;
}

.item {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: move;
  color: #333333;
  position: relative; /* Position relative for absolute positioning of the delete icon */
}

.item:hover {
  background-color: #e9ecef;
}

.delete-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #dc3545; /* Red color for the delete icon */
}

.delete-icon:hover {
  color: #c82333; /* Darker red on hover */
}